@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Playfair+Display:wght@400..900&family=Tinos:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  @apply bg-[rgb(243,242,236)];
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-georgian {
  font-family: 'Noto Serif Georgian', serif;
}

.font-serif {
  font-family: 'Roboto', serif;
}

.text-navColor {
  @apply text-[rgb(132,125,148)]
}

.hover\:text-hoverColor:hover {
  @apply text-[rgb(219,179,169)];
}